html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    background-color: #E5E5E5;
    font-size: 20px;
    color: black;
}

main {
    min-height: 100vh;
}

#scroll-nav {
    transition: 0.5s;
}

.mySwiper2 .swiper-slide {
    border-radius: 25px;
    overflow: hidden;
}

.mySwiper .swiper-slide {
    border-radius: 10px;
}

/* Back to top button section start */
#back-top-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    font-size: 1rem;
}
#back-top-button:hover {
    cursor: pointer;
}
#back-top-button.show {
    opacity: 1;
    visibility: visible;
}
/* Back to top button section end */

/* Popup section start */
button.mfp-close, button.mfp-close:active {
    font-size: 3rem;
    right: 2rem;
    top: 2rem;
}

#case-form-container .wrapper {
    border-radius: 16px;
}

#case-form-container .wrapper .popup-header h2 {
    font-weight: 600;
    line-height: 24px;
}

#case-form-container .popup-body form input, #case-form-container .wrapper .popup-body form textarea, #case-form-container .wrapper .popup-body form select {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: none;
}

#case-form-container .wrapper .popup-body form textarea {
    min-height: 100px;
    resize: none;
}

#case-form-container .wrapper .popup-body form button[type="submit"] {
    border-radius: 45px;
    border: none;
}

#case-form-container .wrapper .popup-body form button[type="submit"].eco-style {
    background: linear-gradient(88.48deg, #B1CF4A 0.95%, #249F5B 173.98%);
}

#case-form-container .wrapper .popup-body form button[type="submit"].soc-style {
    background: linear-gradient(88.48deg, #0072ff 0.95%, #00c6ff 173.98%);
}

#case-form-container .wrapper .popup-body form button[type="submit"].kop-style {
    background: linear-gradient(88.48deg, #ff9415 0.95%, #ffc709 173.98%);
}

#case-form-container .wrapper .popup-body form button[type="submit"].char-style {
    background: linear-gradient(88.48deg, #0ba360 0.95%, #3cba92 173.98%);
}
/* Popup section end */

header .header-bg {
    height: 745px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

header .eco.header-bg {
    background: linear-gradient(90deg, rgba(48, 61, 45, 0.49) 2.23%, rgba(0, 0, 0, 0) 50%), url("images/banners/eco.png") center center no-repeat;
    background-size: cover;
}

header .soc.header-bg {
    background: linear-gradient(90deg, rgba(48, 61, 45, 0.49) 2.23%, rgba(0, 0, 0, 0) 50%), url("images/banners/soc.png") center center no-repeat;
    background-size: cover;
}

header .kop.header-bg {
    background: linear-gradient(90deg, rgba(48, 61, 45, 0.49) 2.23%, rgba(0, 0, 0, 0) 50%), url("images/banners/kop.png") center center no-repeat;
    background-size: cover;
}

header .char.header-bg {
    background: linear-gradient(90deg, rgba(48, 61, 45, 0.49) 2.23%, rgba(0, 0, 0, 0) 50%), url("images/banners/char.png") center center no-repeat;
    background-size: cover;
}

header .header-bg button {
    color: #FFFFFF;
    border-radius: 35px;
    padding: 19.5px 53px;
    border: none;
}

header .header-bg button.eco-style {
    background: linear-gradient(87.07deg, #B1CF4A 3.24%, #249F5B 202.22%);
}

header .header-bg button.soc-style {
    background: linear-gradient(87.07deg, #0072ff 3.24%, #00c6ff 202.22%);
}

header .header-bg button.kop-style {
    background: linear-gradient(87.07deg, #ff9415 3.24%, #ffc709 202.22%);
}

header .header-bg button.char-style {
    background: linear-gradient(87.07deg, #0ba360 3.24%, #3cba92 202.22%);
}

#catalog-buttons button {
    border-radius: 30px;
    border: none;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.1);
}

#catalog-buttons button.active {
    color: #FFFFFF;
}

#catalog-buttons button.active.eco-style {
    background: linear-gradient(87.02deg, #B1CF4A 1.6%, #249F5B 144.76%);
}

#catalog-buttons button.active.soc-style {
    background: linear-gradient(87.02deg, #0072ff 1.6%, #00c6ff 144.76%);
}

#catalog-buttons button.active.kop-style {
    background: linear-gradient(87.02deg, #ff9415 1.6%, #ffc709 144.76%);
}

#catalog-buttons button.active.char-style {
    background: linear-gradient(87.02deg, #0ba360 1.6%, #3cba92 144.76%);
}

#business-table-section .table-responsive {
    border-radius: 30px;
    white-space: nowrap;
}

#business-table-section .table-responsive tbody tr td.business-content {
    white-space: normal;
}

#business-table td {
    background-clip: content-box;
    border-color: #818181;
}

#business-table tbody tr.accordion-header, #business-table thead tr th span, #business-table thead tr th img {
    cursor: pointer;
}

#business-table tbody tr th:first-child, #business-table tbody tr th:last-child {
    width: 50px;
}

#business-table thead {
    box-shadow: 0px 4px 15px rgba(19, 19, 19, 0.25);
    z-index: 10;
}

#business-table thead.eco-style {
    background: linear-gradient(86.71deg, #B1CF4A 1.62%, #249F5B 158.89%);
}

#business-table thead.soc-style {
    background: linear-gradient(86.71deg, #0072ff 1.62%, #00c6ff 158.89%);
}

#business-table thead.kop-style {
    background: linear-gradient(86.71deg, #ff9415 1.62%, #ffc709 158.89%);
}

#business-table thead.char-style {
    background: linear-gradient(86.71deg, #0ba360 1.62%, #3cba92 158.89%);
}

#business-table tbody {
    z-index: 9;
}

#business-table .business-content {
    transition: display 0.5s;
}

.polygon {
    transition: 0.5s;
}

/* Slider styles section start */
.business-content .row {
    min-width: 0;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Slider styles section end */

.tnx-container {
    height: 100vh;
}

footer .container .bg-white {
    border-radius: 30px 30px 0 0;
}

#rights {
    font-size: 14px;
}

.hiddenRow {
    padding: 0 !important;
}
